/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2016, 10:49:27
    Author     : lzu10420
*/


div.uitverkocht-field-class,
h1.title
{
  font-family: 'Lobster Two',Georgia,"Times New Roman",Times,serif;
    font-size: 2.5em;
}

h3.location-locations-header
{
    display:none;
}

div.adr
{
    color: #e8554e;
}

div.view-content
{
    font-family: 'Fanwood Text',Georgia, "Times New Roman", Times, serif;
}
